page-vent {
  .innerMessage {
    display: inline-block;
    padding: 5px 10px;
    background: color($colors, 'primary');
    margin:5px;
    color: white;
    border-radius: 15px !important;
    float: right;
    max-width: 80%;
    min-width: 5%;
  }

  .message {
    font-size: 135%;
  }



  .elem button {
    border-radius: 25px !important;
    margin: 0;

  }

  .elem {
    padding-left: 5%;
    position: relative;
  }
  div#footer div.elem:first-child {
    flex-grow: 1;
  }

  div#footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  ion-toolbar {
    font-size: 150%;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 25px !important;
    padding: 0!important;
    max-width: 96%;
    border: 3px solid rgb(200, 200, 200);
  }

  .message::after {
    content: '';
    display: block;
    clear: both;
  }
}
